body{                                                                                                                 
background-color: bisque;
color:purple;

}

footer {

background-color:white;
color:purple;
bottom:  0;
position: fixed;
width: 100%;

}

footer p {

text-align: : center;
font-size: 0.6rem;


}







